.chip8-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 20px;
  border-radius: 15px;
  background-color: rgb(59, 61, 61);

  max-width: 640px;
  width: 100%;
}

.canvas-controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.canvas-wrapper {
  width: 100%;
  max-width: 640px;
  aspect-ratio: 64 / 32;

  background: #0f0f0f;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.JustButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.restartBtn, .togglePause {
  min-width: 75px;
  padding: 8px 16px;
  background: #5dd62c;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.restartBtn:hover, .togglePause:hover {
  background: #5cd62cb4;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(0,0,0, 0.25);
}

.restartBtn:active, .togglePause:active {
  background-color: #5cd62c85;
  transform: translateY(0);
}

select {
  padding: 8px;
  background: #337418;
  color: #f8f8f8;
  border: 1px solid #449920;
}