.app-layout {
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    place-items: start center; /* centers everything cleanly */

    padding-top: 14%;
    padding-bottom: 300px;
}